{{!--
<button class="checkbox" {{action toggleSelectAll}}>
  {{fa-icon iconName prefix="far"}}
</button>
--}}
{{downloader/checkbox checked=(eq iconName "check-square") change=(action toggleSelectAll)}}

<h3 class="selected-label">{{selectedLabel}}</h3>

<button class="download" {{action downloadSelected}}>
  {{fa-icon "download" prefix="fas"}}
  <h3>Download Selected</h3>
</button>
