{{downloader/header
  selectableRowCount=selectableRowCount
  selectedRowCount=selectedRowCount
  toggleSelectAll=(action "toggleSelectAll")
  downloadSelected=(action "downloadSelected")
}}

{{downloader/table-header tableConfig=tableConfig}}

{{downloader/table-body
  tableConfig=tableConfig
  tableData=tableData
  selectedRows=selectedRows
  toggleSelectRow=(action "toggleSelectRow")
}}

{{!--
  font awesome icons
  Solid    |  Free  |  900  |  Font Awesome 5 Free
  Regular  |  Pro   |  400  |  Font Awesome 5 Pro
{{fa-icon "square" prefix="far"}} f0c8 <br>
{{fa-icon "minus-square" prefix="fas"}} f146  <br>
{{fa-icon "check-square" prefix="fas"}} f14a <br>
{{fa-icon "circle" prefix="fas"}} f111 <br>
{{fa-icon "download" prefix="fas"}} f019 <br>
--}}

{{!--
<style>
  .icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }

  .login::before {
    font-family: "Font Awesome 5 Solid"; font-weight: 900; content: "\f007";
  }

  .tps::before {
    font-family: "Font Awesome 5 Free"; font-weight: 400; content: "\f1ea";
  }

  .twitter::before {
    font-family: "Font Awesome 5 Brands"; content: "\f099";
  }
</style>

<ul style="margin: 0;">
  <li><span class="icon login"></span> Login</li>
  <li><span class="icon tps"></span> TPS Reports</li>
  <li><span class="icon twitter"></span> Twitter</li>
</ul>
--}}
